hostname {{ hostname }}
!
!
aaa new-model
aaa authentication login default local
aaa authorization exec default local
aaa authorization network FLEXVPN_LOCAL local 

!
ip domain name AUTONET.LAB
ip ssh  version 2
line vty 0 4
 transport input telnet ssh
 privilege level 15
 exit
!
!
!
username cisco privilege 15 secret cisco
!
!
!
snmp-server community public RO
snmp-server location {{ location }}
!
!
!
vlan 100
name POS
interface Vlan100
no shutdown
ip nat inside
 ip address {{ prefix }}.1 255.255.255.192
 no autostate
!
vlan 110
name EFT_Terminals
interface Vlan110
no shutdown
ip nat inside
 ip address {{ prefix }}.65 255.255.255.192
  no autostate
!
vlan 120
name Back_Office
interface Vlan120
no shutdown
ip nat inside
 ip address {{ prefix }}.129 255.255.255.192
  no autostate


{% if vlan_dhcp %}
vlan 130
name Guests
ip dhcp excluded-address {{ prefix }}.193
!
ip dhcp pool LAN
 network {{ prefix }}.192 255.255.255.224
 default-router {{ prefix }}.193
!
interface Vlan130
no shutdown
ip nat inside
 ip address {{ prefix }}.193 255.255.255.224
  no autostate
!
{% endif %}
!
interface Loopback1
no shutdown
ip address {{ prefix }}.255 255.255.255.255
!
ip access-list extended ACL-NAT
 permit ip {{ prefix }}.0 0.0.0.255 any

interface {{wan_interface}}
description __ISP {{public_ip}} __
no shutdown
ip nat outside

interface {{lan_interface}}
description  SWITCH 
switchport mode trunk
no shutdown

ip nat inside source list ACL-NAT interface {{wan_interface}} overload



crypto ikev2 authorization policy IKEV2_AUTHORIZATION 
 route set interface
 route set remote ipv4 {{prefix}}.0 255.255.255.0
!
crypto ikev2 proposal IKEV2_PROPO 
 encryption aes-gcm-256
 prf sha256
 group 16
!
crypto ikev2 policy IKEv2_POLICY 
 match address local {{public_ip}}
 proposal IKEV2_PROPO
!
crypto ikev2 keyring IKEV2_KEYRING
 peer DC-R1
  address 13.0.0.1 255.255.255.255
  pre-shared-key key PoteznyTunel123
 !
!
!
crypto ikev2 profile IKEV2_PROFILE
 match identity remote fqdn HUB.FLEXVPN.LAB
 identity local fqdn {{hostname}}.FLEXVPN.LAB
 authentication remote pre-share
 authentication local pre-share
 keyring local IKEV2_KEYRING
 aaa authorization group psk list FLEXVPN_LOCAL IKEV2_AUTHORIZATION
!
!

!
crypto ipsec transform-set CTS-AES-SHA esp-aes 256 esp-sha256-hmac 
 mode tunnel
!
crypto ipsec profile IPSEC_PROFILE
 set security-association lifetime seconds 3200
 set transform-set CTS-AES-SHA 
 set pfs group16
 set ikev2-profile IKEV2_PROFILE
!
interface Tunnel0
 ip address negotiated
 tunnel source {{public_ip}}
 tunnel mode ipsec ipv4
 tunnel destination 13.0.0.1
 tunnel protection ipsec profile IPSEC_PROFILE ikev2-profile IKEV2_PROFILE


do wr
!
!