{% extends 'base.html' %}
{% block content %}
<div class="bg-light p-3 rounded code-block border border-primary">
    <br>
    {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
    <br>
    <div class="container mt-5">
        <h2>Formularz dodania stacji beznzynowej</h2>
        <form method="post">
            {{ form.csrf_token }}

            <div class="form-group mb-3">
                {{ form.location.label(class="form-label") }}
                {{ form.location(class="form-control", size=10) }}
            </div>

            <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>
    </div>
</div>
{% endblock content %}