{% extends 'base.html' %}
{% block content %}
<div class="bg-light p-3 rounded code-block border border-primary">
    <div class="container mt-5">
        <h2>Formularz urządzenia</h2>
        <form method="post">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.device_name.label }}
                <br>
                {{ form.device_name(size=20) }}
            </div>
            <div class="mb-3">
                {{ form.subnet.label }}
                <br>
                {{ form.subnet(size=20) }}
            </div>
            <div class="mb-3">
                {{ form.snmp_community.label }}
                <br>
                {{ form.snmp_community(size=20) }}

            </div>
            <div class="mb-3">
                {{ form.vlan_dhcp.label }}
                <br>
                {{ form.vlan_dhcp(size=20) }}

            </div>
            <button type="submit" class="btn btn-primary">Wyślij</button>
        </form>
    </div>
</div>
{% endblock content %}