{% extends 'base.html' %}
{% block content %}
<div class="bg-light p-3 rounded code-block border border-primary">
    <h1 class="mb-4">Wpisz nazwę urządzenia</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Wprowadź nazwę urządzenia</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Nazwa ">
        </div>
        <button type="submit" class="btn btn-primary">Ustaw</button>
    </form>
</div>



{% endblock content %}